@charset "utf-8";

#footer {
  width: 100%;
  position: relative;
  background-color: #666;
  height: 180px;
  margin-top: 30px;
  padding-top: 15px;
  color: #fff;
}
.footer_wrap {
  width: 1024px;
  margin: 0 auto;
}
.footer_side_menu {
  float: left;
}
.footer_side_menu li {
  float: left;
  margin-left: 10px;
}
.footer_side_menu li:first-child {
  margin-left: 0;
}
.footer_side_menu li a {color: #fff;}
.footer_site {
  float: right;
  width: 200px;
  position: relative;
}
.site_title {
  background-color: #fff;
  display: block;
  line-height: 2.5rem;
  padding-left: 5px;
  float: left;
  color: #222;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  float: left;
}
.site_btn {
  position: absolute;
}
.site {
  position: absolute;
  top: 2.5rem;
  left: 0;
  background-color: rgba(255, 255, 255,.7);
  width: 200px;
  z-index: 99;
  display: none;
}
.site li {
  line-height: 2rem;
}
.site li a {
  padding-left: 5px;
}
.site_btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #07c;
  height: 2.5rem;
  width: 40px;
  line-height: 2.5rem;
  text-align: center;
}
.site_btn span {
  color: #fff;
}

.footer_col {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
.icon_wrap {
  float: left;
  margin-right: 20px;
}
.icon_wrap a {
  float: left;
  /* display: inline-block; */
  /* float: left;랑 inline-block는 같이 쓸 수없음 */
  display: block;
  text-indent: -999rem;
}
.icon_wrap a:nth-of-type(1) {
  background: url(../images/footer_logo1_3.png) no-repeat 0 0;
  width: 60px;
  height: 67px;
}
.icon_wrap a:nth-of-type(2) {
  background: url(../images/footer_logo2_3.png) no-repeat 0 0;
  width: 90px;
  height: 67px;
}
.address {
  float: left;
}
.address p {
  line-height: 1.8rem;
}
.footer_icon {
  float: right;
}
.m_footer {
  display: none;
}
@media all and (min-width:320px) and (max-width:1024px) {
  .footer_wrap {
    width: 100%;
  }
  .footer_wrap .none {
    display: none;
  }
  .m_footer {
    display: block;
    text-align: center;
    color: #fff;
    margin-top: 40px;
  }
  .m_footer p {
    line-height: 1.8rem;
  }
  .m_footer span {
    color: rgb(204, 201, 0)
  }
}