@charset "utf-8";
#container {
  width: 100%;
  position: relative;
}
.impormation_wrap {
  width: 1024px;
  position: relative;
  margin: 20px auto;
}
.impormation_box {width: 100%;}
.datasearch {
  float: left;
  border: 5px solid #005eaa;
  margin-right: 2%;
  width: 78%;
  /* 가로의 값이 500이면 500/1024(전체 가로의 값)*100 =48.828125%인데 소수점 4자리 정도까지만 찍기 */
  box-sizing: border-box;
}
.datasearch input[type="text"]{
  width: 80%;
  height: 60px;
  padding-left: 10px;
  border: none;
  float: left;
  /* outline: none;   이걸 하게 되면 접근성에 안 맞음 */
  box-sizing: border-box;
  /* 10px땜에 아래로 떨어지는 것을 방지 */
}
.search_btn {
  width: 20%;
  background-color: #005eaa;
  float: left;
  height: 60px;
  display: block;
  /* float, inline동시에 적용 안 함 */
  text-align: center;
}
.impormation {
  width: 20%;
  float: left;
  border: 5px solid #005eaa;
  box-sizing: border-box;
  height: 70px;
  /* 60 + boder값 = 70 */
  overflow: hidden;
  position: relative;
}
.impormation_list li {
  line-height: 70px;
  padding-left: 10px;
  font-size: 1.1em;
}
.list_search_btn {
  position: absolute;
  background: url(../images/arrow_list.png) no-repeat 90% center;
  position: absolute;
  top: 30px;
  right: 20px;
  display: inline-block;
}
.list_search_btn a {
  width: 27px;
  height: 20px;
  display: block;
  text-indent: -9999rem;
}
.impormation_text {
  clear: both;
  text-align: center;
  margin: 20px 0;
  color: #999;
  font-size: 1.4rem;
  font-weight: 300;
}
.impormation_text strong {
  background-color: #005eaa;
  padding: 1%;
  color: #fff;
  font-weight: 300;
}
.tab_wrap {
  width: 100%;
  background-color: #269ce3;
}
.tab_news {
  width: 1024px;
  position: relative;
  margin: 30px auto;
  height: 150px;
}
.tab {width: 100%;}
.tab > li {
  float: left;
  width: 50%;
  height: 60px;
  background-color: rgb(107, 107, 107);
  text-align: center;
  line-height: 60px;
}
.tab > li > a{
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  display: block;
}
.tab > li.on {
  background-color: #269ce3;
}
.data_list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 1024px;
}
.data_list li {
  float: left;
  width: 20%;
  line-height: 50px;
}
.data_list li a {
  color: #fff;
  display: block;
}
.banner_wrap {
  width: 100%;
  background-color: #eaeaea;
}
.banner_news {
  width: 1024px;
  padding: 40px 0;
  margin: 30px auto;
}
.banner_news div {
  float: left;
  width: 30%;
  margin: 0 1.5% 30px 1.5%;
  background-color: #fff;
  box-sizing: border-box;
}
.banner_news .bannerImg {
  width: 100%;
  height: 190px;
}
.banner_news .banner2 .bannerImg{
  height: 150px;
}
.banner_news .banner5 .bannerImg {
  height: 100px;
}
.banner_news .pad10 {
  padding: 10px;
}
.banner_news {
  width: 1024px;
  padding: 40px 0;
  margin: 30px auto;
}
.banner_news div {
  width: 30%;
  float: left;
  margin: 0 1.5% 30px 1.5%;
  background-color: #fff;
  box-sizing: border-box;
}
.banner_news .bannerImg {
  width: 100%;
  height: 190px;
  box-sizing: border-box;
}
.banner_news .banner2 .bannerImg {
  height: 150px;
}
.banner_news .banner5 .bannerImg {
  height: 100px;
  margin: 7px 0;
  display: block;
}
.banner_news .pad10 {padding: 10px;}
.banner2 a {text-decoration: none;}
.banner2 span {
  font-weight: 500;
  color: #999;
  display: inline-block;
  font-size: 0.9em;
}
.banner2 span strong {color: #269ce3;}
.banner5 a {
  text-decoration: none;
}
.banner5 strong {color: #269ce3;}
.banner5 dt {font-weight: 400;}
.banner5 dd {color: #999;}
.banner6 {
  height: 190px;
  box-sizing: border-box;
}
.banner6 strong {color: #269ce3;}
.banner6 .best_data {position: relative;}
.banner6 .best_data > li {
  float: left;
  width: 50%;
  background-color: #269ce3;
  height: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
}
.banner6 .best_data li.on {background-color: #666;}
.banner6 .best_data li a {

}
.banner6 .best_data ul {
  position: absolute;
  top: 30px;
  left: 0;
}
.banner6 .best_data ul li {
  line-height: 24px;
}