@charset "utf-8";
.container_ {
  width: 100%;
  position: relative;
}
.section--visual {
  background: url(../img/bg.jpg) no-repeat center center;
  position: relative;
  background-size: cover;
}
.section--visual:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.section--visual .inner {
  display: flex;
  padding: 160px 0;
}
.section--visual .summary {
  flex: 1;
  margin-right: 90px;
  color: #fff;
}
.summary--visual .summary--title {
 font-size: 3.4rem; 
}
.summary--visual .summary--title {
  color: #fff;
  margin-top: 50px;
}
.sign-form {
  flex: 1;
  /* 반반 */
}
.sign-form li {
  margin-bottom: 15px;
}
.sign-form .input--text {
  width: 100%;
  height: 40px;
}
.sign-form button[type="submit"] {
  width: 100%;
  height: 60px;
  justify-content: center;
  font-size: 1.1rem;
}
.sign-form .caption {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  font-weight: 200;
  margin-top: 5px;
  text-align: center;
  letter-spacing: -0.03rem;
}

.section--feature {
  background-color: #fff;
  padding-right: 60px;
}
.section--feature .summary {
  text-align: center;
}
.section--feature .video {
  max-width: 560px;
  /* ifram에 wiedth값이 560이라 560으로 함 */
  margin: 50px auto;
}
.section--feature .video .video--ratio {
  height: 0;
  position: relative;
  padding-top: 56.25%;
  /* 
  16:9
  9/16*100(px)=56.25% 
  */
}
.section--feature .video .video--ratio iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section--feature .tiles {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.section--feature .tiles ul {}
.section--feature .tiles ul li {
  max-width: 25%;
  text-align: center;
  padding: 30px 20px;
  box-sizing: border-box;
  float: left;
}
.section--feature .tiles ul li img {
  max-width: 100%;
  padding: 15px 10% 20px;
  box-sizing: border-box;
}
.section--feature .tiles ul li h3 {
  font-size: 1rem;
  letter-spacing: -0.05rem;
  margin-bottom: 10px;
}
.section--feature .tiles ul li p {
  font-size: 0.9rem;
  color: #767676;
  line-height: 1.1rem;
  letter-spacing: -0.05rem;
}
.section--where-is .inner {
  padding-top: 80px;
}
#map {
  height: 400px;
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-top: 20px; 
}#map iframe {
  width: 100%;
  height: 100%;
}
.section--pricing .inner {
  padding: 80px 0;
}
.section--pricing .inner .card {
  display: flex;
  border-image: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}
.section--pricing .inner .card .cell {
  padding: 25px;
  width: 20%;
  text-align: center;
}
.section--pricing .inner .card .cell a {
  /* 너무 길게 쓰면 유지보수 할 때 안 좋음
  최소한 부모까지는 알아야됌 */
  color: #fff;
  width: 100%;
  display: flex;
}
.section--pricing .inner .card .cell--text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #e5e5e5;
  padding-left: 20px;
}







@media all and (max-width:1024px) {
  .section--visual {
    background: url(../img/bg-small.jpg) no-repeat center center;
  }
  .section--visual .inner {
    min-width: none;
    display: block;
    padding: 80px 20px;
  }
  .section--visual .summary {
    text-align: center;
    margin-bottom: 50px;
  }
  .sign-form {
    width: auto;
    min-width: 500px;
    margin: 0 auto;
  }
  .section--feature .summary {
    padding: 50px 20px 0 20px;
  }
  .section--feature .tiles ul li {
    max-width: 50%;
  }
  .section--where-is .inner {
    padding-top: 80px;
  }
  #map {
    height: 300px;
    width: 96%;
    margin: 0 auto;
  }
  .section--pricing .inner .card .cell {
  }
  .section--pricing .inner .card .cell a {
    font-size: 0.8rem;
    letter-spacing: -0.05rem;
    padding: 20px;
  }
}

@media all and (max-width:768px) {
  .section--visual .inner {
    min-width: none;
    display: block;
    padding: 80px 20px;
  }
  .section--feature .tiles ul li {
    max-width: 100%;
  }
}