/* 포폴 만들 땐 common, reset 따로 작업하기 */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body, div, ul, li, header, footer, section, article, span, p, a, img, iframe, h1, h2, h4, form, input {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Noto Sans KR','본고딕', sans-serif;
    color: #333;
    font-weight: 400;
}
ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #222;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
  color: #222;
}
input, img {
  vertical-align: middle;
}
img {
  border: 0 none;
}
.float--right {
  float: left;
}
.float--left {
  float: left;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
.skip {
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: inline-block;
  text-indent: -9999rem;
}

#skip_menu {
  position: relative;
  width: 100%;
}
#skip_menu a {
  position: absolute;
  top: -100px;
}
#skip_menu a:hover,
#skip_menu a:active,
#skip_menu a:focus {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 0;
  display: block;
  text-align: center;
  background-color: #333;
  color: #fff;
}